<h1>Teleport</h1>
<app-nav></app-nav>

<button #button>Click</button>

<ng-template let-hide>
  {{ interval | async }}
  <div>Hello from tpl</div>
  <app-list [value]="'bla'"></app-list>
  <button (click)="hide()">Close</button>
</ng-template>

<div *teleportTo="'test'">
  <h1>Teleported</h1>
  {{ interval | async }}
</div>

<ng-template teleportTo="test">
  <h1>Teleported2</h1>
</ng-template>

<button (click)="show = !show">Toggle outlet</button>
<section teleportOutlet="test" *ngIf="show"></section>

<h1>Dynamic View</h1>

<h5>Component</h5>
<ng-container *dynamicView="component; injector: injector"></ng-container>

<h5>Template</h5>
<ng-template #mytpl let-title
  ><b>{{ title }}</b></ng-template
>
<ng-container *dynamicView="mytpl; context: { $implicit: 'my title' }"></ng-container>

<h5>Default Tpl</h5>
<ng-container *dynamicView="null"> default tpl </ng-container>

<h5>String</h5>
<ng-container *dynamicView="'<h1>hello world</h1>'"></ng-container>
