<div>
  <h1>Teleport</h1>

  <ng-template let-hide>
    {{ interval | async }}
    <div>Hello from tpl</div>
    <app-list [value]="'bla'"/>
    <button (click)="hide()">Close</button>
  </ng-template>

  <div *teleportTo="'test'">
    <h3>Teleported</h3>
    {{ interval | async }}
  </div>

  <ng-template teleportTo="test">
    <h3>Teleported2</h3>
  </ng-template>

  <button class="my-4" (click)="show = !show">Toggle outlet</button>
  <section teleportOutlet="test" *ngIf="show"></section>
</div>

<div>
  <h1>Dynamic View</h1>

  <button class="my-4" #button (click)="toggleContext()">Toggle context</button>

  <div class="dynamic-views">
    <div>
      <h3>Component</h3>
      <ng-container *dynamicView="component; injector: customInjector; context: { $implicit: context }"/>
    </div>

    <div>
      <h3>Template</h3>
      <ng-template #mytpl let-title>
        <div><b>{{ title }}</b></div>
      </ng-template>
      <ng-container *dynamicView="mytpl; context: { $implicit: context }"/>
    </div>

    <div>
      <h3>Default Tpl</h3>
      <ng-container *dynamicView="null"> default tpl</ng-container>
    </div>

    <div>
      <h3>String</h3>
      <ng-container *dynamicView="str"/>
    </div>
  </div>
</div>
